*{
    box-sizing: border-box;
}
body{
    font-family: "work sans", sans-serif;
}
:root{
    --main-color: #10cab7;
}

/* header start */

.header{
    margin-bottom: 0;
    /* background-color: #10cab7; */
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aliceblue; */
    padding:20px;
    margin: 0 auto;
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .container { max-width: 540px; }
}
@media (min-width: 768px) {
    .container { max-width: 720px; }
}
@media (min-width: 992px) {
    .container { max-width: 960px; }
}
@media (min-width: 1200px) {
    .container { max-width: 1140px; }
}
@media (min-width: 1400px) {
    .container { max-width: 1320px; }
}

.icon{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    width: 30px;
}
.icon span{
    margin-bottom: 5px;
    transition: all 0.3s;
}
.icon span:first-child, .icon span:last-child{
    width: 100%;
    height: 3px;
    background-color: black;
}
.icon span:nth-of-type(2){
    width: 50%;
    height: 2px;
    background-color: black;
}
.logo{
    width: 70px;
}
.header .links{
    position: relative;
    z-index: 1;
}
.header .links:hover .icon span:nth-of-type(2){
    width: 100%;
}
.header .container .links ul li a{
    text-decoration: none;
    color: black;
}
.header .container .links ul li{
    list-style: none;
    padding: 10px;
    padding-right: 80px;
    transition: 0.3s all;
}
.header .container .links ul{
    background-color: #f6f6f6;
    width: 200px;
    position: absolute;
    right: 0;
    padding: 15px;
    top: 35px;
    margin: 0;
    display: none;
}
.header .container .links ul::before{
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    top: -18px;
    right: 5px;
}
.header .container .links ul li:hover{
    padding-left: 20px;
}
.header .container .links ul li:not(:last-child){
    border-bottom: 1px solid black;
}
.header .container .links:hover ul{
    display: block;
}
/* header end */

/* start landing */
.landing{
    background-image: url("../img/mountain.jpeg");
    background-size: cover;      /* fills the box, crops if needed */
    background-position: center; /* keeps it centered */
    background-repeat: no-repeat;/* prevents tiling */
    height: 70vh;
    position: relative;
}
.landing .intro-text h1{
    color: var(--main-color);
    padding-top: 20px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}
.landing .intro-text p{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* end landing */

/* start Features */
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding-top: 30px;  
    margin: 0 auto;
    gap: 50px;
}
.features .container .feat{
    text-align: center;
    padding: 20px;
    /* background-color: antiquewhite; */
    /* width:100%; */
}
.features .container .feat i{
    color: var(--main-color);
    font-size: 50px;
}
.features .container .feat p{
    line-height: 1.7;
    color: #777;
    font-size: 17px;
}
/* end Features */

/* start services */
.services .services{
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    grid-template-rows: repeat( 2, 1fr);
    grid-template-areas: 
        "feat1 feat2 shape"
        "feat3 feat4 shape";
    padding-top: 30px;
    width: 100%;
    margin-left: 120px;
    gap: 50px;
}
.services .container .services.container div i{
    color: var(--main-color);
    font-size: 50px;
}
.services .container .shape{
    position: relative;
}
.services .container .shape .shape-1{
    background-color: #f6f6f6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;;
    height: 250px;;
}
.services .container .shape .shape-2{
    position: absolute;
    background-color: #2c4755;
    width: 70px;
    height: 350px;
    top: 50%;
    right: 0%;
    transform: translate(-70%, -50%);
}
.services .text{
    position: relative;
    width: 100%;
    height: 300px;
    margin: 10px 80px;
}
.special-heading{
    font-size: 150px;
    color: #f6f6f6;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text p{
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.7;
    color: #777;
    font-size: 17px;
}
.services .feat p{
    line-height: 1.7;
    color: #777;
    font-size: 17px;
}
/* end services */

/* start portfolio */
.portfolio{
    position: relative;
    background-color: #fafafa;
}
.portfolio .container{
    margin: 100px;
}
.portfolio .container .text .special-heading{
    color: #ebeced;
    top: 10%;
}
.portfolio .container .text{
    width: 100%;
    height: 200px   ;
}
.portfolio .container .text p{
    top: 24%;
}
.portfolio .container .portfolio{
    display: flex;
    justify-content: space-evenly;
}
.portfolio .container .portfolio img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin: 0;
}
.portfolio .container .feat{
    padding: 20px;
}
.portfolio .container .feat .text-feat{
    background-color: #ffffff;
    padding: 30px;
}
.portfolio .container .feat .text-feat h3{
    margin: 0;
}
/* end portfolio */